body {
    float: left;
    margin: 0;
    background-image: url("/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    font-family: 'Rye', sans;
}
#wrapper {
    min-width: 800px;
    margin: auto;
    display: inline-block;
    padding: 50px 0px;
}
#gameList {
    text-align: left;
    font-family: 'Ubuntu Mono', sans;
}
#picWrap {
    text-align: center;
    width: 100%;
}
#picture {
    text-align: left;
    white-space: pre;
    margin: auto;
    display: inline-block;
    font-family: 'Ubuntu Mono', sans;
}
#guessBoard {
    letter-spacing: 10px;
    font-family: 'Ubuntu Mono', sans;
}